# Compiled WASM files
*.wasm

# Build artifacts
*.o
*.a
*.so
*.dylib
*.dll

# Go specific
*.exe
*.test
*.prof
*.out

# Editor and IDE files
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific files
.DS_Store
Thumbs.db
